
h1 {
    color: green; 
    text-align: center; 
  }
  
  
  #buttons {
    text-align: center;
    margin-bottom: 20px; 
  }
  
 
  input[type="text"] {
    width: 150px;
    padding: 5px; 
    margin: 5px; 
  }
  
 
  button[type="submit"] {
    padding: 5px 10px;
    background-color: lightcoral; 
    border: none; 
    color: white;     cursor: pointer; 
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse; 
  }
  
 
  th {
    background-color: lightgrey; 
    padding: 8px; 
    text-align: left; 
  }
  
 
  td {
    border: 1px solid black;
    padding: 8px; 
  }
  